Repository kjk402/issue-tracker, pull requests merged in 2021-06, with the labels that each got.

#3 [BE] 스프링 도커라이즈
  backend/docker/.gitignore
  backend/docker/README.md
  backend/docker/db/conf/custom.cnf
  backend/docker/db/initdb/1-init.sql
  backend/docker/docker-clear.sh
  backend/docker/docker-compose.yml
  backend/docker/docker-start.sh
Labels: backend

#10 [BE] Swagger 설정하기
  backend/src/main/java/com/bas/issuetracker/config/SwaggerConfig.java
  backend/src/main/java/com/bas/issuetracker/config/WebConfig.java
Labels: backend

#11 Be/feature/oauth
  .gitignore
  backend/src/main/java/com/bas/issuetracker/web/config/WebMvcConfig.java
  backend/src/main/java/com/bas/issuetracker/web/config/annotation/CertifiedUser.java
  backend/src/main/java/com/bas/issuetracker/web/config/annotation/UserAgent.java
  backend/src/main/java/com/bas/issuetracker/web/config/bean/InterceptorBeanConfig.java
  backend/src/main/java/com/bas/issuetracker/web/config/bean/RepositoryConfig.java
  backend/src/main/java/com/bas/issuetracker/web/config/bean/ResolverBeanConfig.java
  backend/src/main/java/com/bas/issuetracker/web/config/bean/RestTemplateConfig.java
  backend/src/main/java/com/bas/issuetracker/web/config/constants/GlobalErrorMessageConstants.java
  backend/src/main/java/com/bas/issuetracker/web/config/constants/RegexConstants.java
  backend/src/main/java/com/bas/issuetracker/web/config/constants/TokenConstants.java
  backend/src/main/java/com/bas/issuetracker/web/config/constants/UserConstants.java
  backend/src/main/java/com/bas/issuetracker/web/config/interceptor/AuthInterceptor.java
  backend/src/main/java/com/bas/issuetracker/web/config/properties/GithubApi.java
  backend/src/main/java/com/bas/issuetracker/web/config/properties/JwtSecret.java
  backend/src/main/java/com/bas/issuetracker/web/config/properties/OAuthSecret.java
  backend/src/main/java/com/bas/issuetracker/web/config/resolver/CertifiedUserResolver.java
  backend/src/main/java/com/bas/issuetracker/web/config/resolver/UserAgentResolver.java
  backend/src/main/java/com/bas/issuetracker/web/controller/GithubUsersController.java
  backend/src/main/java/com/bas/issuetracker/web/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/bas/issuetracker/web/domain/user/OAuthAuthenticater.java
  backend/src/main/java/com/bas/issuetracker/web/domain/user/User.java
  backend/src/main/java/com/bas/issuetracker/web/domain/user/UserAgentEnum.java
  backend/src/main/java/com/bas/issuetracker/web/domain/user/UserRepository.java
  backend/src/main/java/com/bas/issuetracker/web/dto/ErrorResponse.java
  backend/src/main/java/com/bas/issuetracker/web/dto/GithubProfile.java
  backend/src/main/java/com/bas/issuetracker/web/dto/OAuthLoginData.java
  backend/src/main/java/com/bas/issuetracker/web/dto/ReceivedAccessToken.java
  backend/src/main/java/com/bas/issuetracker/web/dto/RequestAccessToken.java
  backend/src/main/java/com/bas/issuetracker/web/dto/UserWithToken.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/UnknownUserAgentException.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/jwt/InvalidJwtTokenException.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/jwt/JwtTokenException.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/jwt/NoJwtTokenException.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/notfound/NotFoundException.java
  backend/src/main/java/com/bas/issuetracker/web/exceptions/notfound/UserNotFoundException.java
  backend/src/main/java/com/bas/issuetracker/web/service/mapper/UserMapper.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/ApiRequester.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/OAuthDataService.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/OauthApiRequester.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/OauthProfileConverter.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/TokenService.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/github/GithubApiRequester.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserDAO.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserDtoConverter.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserService.java
  backend/src/main/java/com/bas/issuetracker/web/statement/UserStatement.kt
  backend/src/main/resources/api.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/bas/issuetracker/web/config/properties/GithubApiTest.java
  backend/src/test/java/com/bas/issuetracker/web/config/properties/JwtSecretTest.java
  backend/src/test/java/com/bas/issuetracker/web/config/properties/OAuthSecretTest.java
Labels: backend

#13 [iOS] 로그인뷰 레이아웃
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Assets.xcassets/GitHub-Mark-Light.imageset/Contents.json
  iOS/IssueTrackerApp/IssueTrackerApp/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-120px-plus.png
  iOS/IssueTrackerApp/IssueTrackerApp/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-32px.png
  iOS/IssueTrackerApp/IssueTrackerApp/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-64px.png
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController.swift
Labels: iOS

#18 feat: OAuth ClientID와 scope를 알려주는 기능 추가
  backend/src/main/java/com/bas/issuetracker/web/controller/GithubUsersController.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/OAuthDataService.java
  backend/src/main/resources/schema.sql
Labels: backend

#21 [iOS] 이슈목록 레이아웃
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/IssueTableViewCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/IssueTableViewCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/IssueTableViewFooterView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/IssuesViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/Contents.json
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/GitHub-Mark-Light.imageset/Contents.json
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-120px-plus.png
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-32px.png
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Assets.xcassets/GitHub-Mark-Light.imageset/GitHub-Mark-Light-64px.png
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Info.plist
Labels: iOS

#25 [FE] Signin페이지 기초 레이아웃 작업
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/LoginButton.tsx
  frontend/src/components/SignIn/GithubLogin.tsx
  frontend/src/components/SignIn/IDLogin.tsx
  frontend/src/components/SignIn/index.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SigninPage.tsx
Labels: frontend

#26 [FE] 로그인 관련 로직 수정 및 import 전략 변경
  frontend/src/components/SignIn/GithubLogin.tsx
  frontend/src/components/SignIn/IDLogin.tsx
  frontend/src/components/SignIn/index.tsx
Labels: frontend

#32 Be/feature/search
  backend/src/main/java/com/bas/issuetracker/web/config/constants/SearchFilterConstants.java
  backend/src/main/java/com/bas/issuetracker/web/controller/IssueController.java
  backend/src/main/java/com/bas/issuetracker/web/dao/IssueDAO.java
  backend/src/main/java/com/bas/issuetracker/web/dto/search/SearchFilterData.java
  backend/src/main/java/com/bas/issuetracker/web/queries/IssueQuery.kt
  backend/src/main/java/com/bas/issuetracker/web/service/IssueService.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/bas/issuetracker/web/dto/search/SearchFilterDataTest.java
  backend/src/test/java/com/bas/issuetracker/web/service/IssueServiceTest.java
Labels: backend

#35 [iOS] GitHub 로그인 API 적용
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Application/AppDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Application/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Domain/Entities/LoginQueryParameters.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Domain/Entities/User.swift
  iOS/IssueTrackerApp/IssueTrackerApp/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Network/DataTransferService.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Network/Endpoint.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Network/NetworkService.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Extensions/UIImage+CircleCropping.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewFooterView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/IssuesViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/LandingTabBarController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Login/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Login/LoginViewModel.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Supporting Files/Info.plist
Labels: iOS

#41 [BE] 코멘트 시간 업데이트 수정
  backend/src/main/java/com/bas/issuetracker/web/dao/CommentDAO.java
  backend/src/main/java/com/bas/issuetracker/web/dao/IssueDAO.java
  backend/src/main/java/com/bas/issuetracker/web/queries/CommentQuery.kt
  backend/src/main/java/com/bas/issuetracker/web/queries/IssueQuery.kt
  backend/src/main/resources/data.sql
Labels: backend

#43 [iOS] 데모용 리드미 업데이트
  iOS/README.md
Labels: iOS

#49 [iOS] 필터 선택 화면 레이아웃
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Domain/Entities/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/IssuesMockJSON.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Network/DataTransferService.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/FilterSelectionTableViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/FilterSelectionViewModel.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/IssueViewModel.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/IssuesViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/IssuesViewModel.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Login/LoginViewModel.swift
Labels: iOS

#52 [iOS] Dynamic Type 지원
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/Cells/IssueTableViewFooterView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/FilterSelectionTableViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Issues/IssuesViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Presentation/Login/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/UIFont+PreferredFontWeight.swift
Labels: iOS

#54 [BE] 깃헙 유저 email
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/bas/issuetracker/web/controller/GithubUsersController.java
  backend/src/main/java/com/bas/issuetracker/web/domain/issue/Issue.java
  backend/src/main/java/com/bas/issuetracker/web/domain/user/User.java
  backend/src/main/java/com/bas/issuetracker/web/dto/GithubProfile.java
  backend/src/main/java/com/bas/issuetracker/web/dto/UserWithToken.java
  backend/src/main/java/com/bas/issuetracker/web/queries/UserStatement.kt
  backend/src/main/java/com/bas/issuetracker/web/service/MailHandler.java
  backend/src/main/java/com/bas/issuetracker/web/service/MailService.java
  backend/src/main/java/com/bas/issuetracker/web/service/oauth/OauthProfileConverter.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserDAO.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserDtoConverter.java
  backend/src/main/java/com/bas/issuetracker/web/service/users/UserService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/schema.sql
  backend/src/main/resources/static/github.jpg
  backend/src/main/resources/static/swagger.jpg
  backend/src/main/resources/static/welcome.jpg
Labels: backend
